section {
    &#first {

        .title-wrapper {
            padding-top: 25px;
            padding-bottom: 25px;
            background-color: #ffef3e;
            position: relative;

            &::before {
                content: "";
                background: #feef4f;
                height: 100%;
                width: 1000%;
                z-index: 1;
                position: absolute;
                top: 0;
                right: 100%;
            }

  
            >h1 {
                flex: 1;
                text-transform: uppercase;
                font-weight: 900;
            }
        

            >span {
                flex: 1;
                font-size: 0.8rem;
                line-height: 0.9rem;
            }


        }
    }

    &#second {
        background-color: #1d1d1c;
        color: white;

        ::ng-deep app-container>div {
            display: flex;
            flex-direction: column;
        }

        h1 {
            font-size: 3rem;
            line-height: 2.7rem;

            >strong {
                font-weight: 900;
            }
        }

        .top {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            >p {
                font-size: 1rem;
                line-height: 1.3rem;
            }
        }

        .middle {

            h2 {
                border: 1px solid #fff;
                padding: 10px 20px;
                width: max-content;
                text-transform: uppercase;
                margin: 0 auto;
                font-weight: 700;
            }

            .pricing {
                background-color: #ffef3e;
                color: #000;
                display: flex;
                flex-direction: column;
                padding: 12px;
                cursor: pointer;
                transition: 125ms transform ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }

                >h3 {
                    margin: 0;
                    padding: 0;
                    font-size: 1.5rem;
                    font-weight: unset;
                    line-height: 1.5rem;
                }

                >.tag {
                    background-color: #1d1d1c;
                    color: #ffef3e;
                    width: min-content;
                    font-size: 0.7rem;
                    text-transform: capitalize;
                    padding: 0 8px;
                    margin-top: 6px;
                    margin-bottom: auto;
                }

                >.price {
                    font-size: 1.5rem;
                }

                >.hint {
                    font-size: 0.6rem;
                    line-height: 0.65rem;
                }
            }
        }

        .bottom {
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;

            >span {
                line-height: 1.2rem;
            }

            .notice {
                padding: 8px 18px;
                border: 2px solid #fff;
            }

            ul.checklist>li {
                margin: 16px 0;
                display: flex;
                gap: 6px;
            }
        }
    }

    &#third {
        ::ng-deep app-container>div {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }


        .title-wrapper {
            display: flex;
            flex-direction: column;

            >.subtitle {
                text-transform: uppercase;
                font-size: 0.7rem;
                line-height: 0.9rem;
                font-weight: 500;
            }

            >h1 {
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 900;
                line-height: 2rem;
            }
        }

        .video-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .do-you-dare {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 0.8rem;
                }

            .video-bg {
                width: 100%;
                height: 500px;
                background-color: #1d1d1c;
            }

            .video-title {
                margin-top: 0.5rem;
                display: flex;
                justify-content: space-between;
                gap: 12px;

                > * {
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1rem;
                    flex: 1;

                    &:last-child {
                        text-align: right;
                        align-self: center;
                    }
                }
            }
        }
    }
}