<section class="legal-page">
  <div class="container">
    <!-- Vazquez container -->
    <div class="elementor-widget-container">
      <h1><span>POLITICA DE PRIVACIDAD</span></h1>
      <p><span>Última actualización: Septiembre 2025.</span></p>
      <p><span><strong>1.</strong>&nbsp;<strong>INFORMACIÓN AL
            USUARIO</strong></span></p>
      <p><span><strong>Training Zone, S.L.</strong>, como
          Responsable del Tratamiento, le informa que, según lo dispuesto en el Reglamento (UE) 2016/679, de 27 de
          abril, (RGPD) y en la L.O. 3/2018, de 5 de diciembre, de protección de datos y garantía de los derechos
          digitales (LOPDGDD), trataremos su datos tal y como reflejamos en la presente Política de Privacidad.</span>
      </p>
      <p><span>En esta Política de Privacidad describimos cómo
          recogemos sus datos personales y por qué los recogemos, qué hacemos con ellos, con quién los compartimos, cómo
          los protegemos y sus opciones en cuanto al tratamiento de sus datos personales.</span></p>
      <p><span>Esta Política se aplica al tratamiento de sus
          datos personales recogidos por la empresa para la prestación de sus servicios. Si acepta las medidas de esta
          Política, acepta que tratemos sus datos personales como se define en esta Política.</span></p>
      <p><span><strong>2. CONTACTO</strong></span></p>
      <p><span>Denominación social:&nbsp;<strong>Training
            Zone, S.L.</strong></span><br><span>Nombre comercial:&nbsp;<strong>Training
            Zone</strong></span><br><span>Domicilio: <strong>Calle Alfonso Zapater Cerdán,
            9, 50014 Zaragoza</strong></span><br><span>e-mail:&nbsp;
          <strong>info&#64;trainingzone.es</strong></span></p>
      <p><span>&nbsp;</span><br><span><strong>3. PRINCIPIOS CLAVE</strong></span></p>
      <p><span>Siempre hemos estado comprometidos con prestar
          nuestros servicios con el más alto grado de calidad, lo que incluye tratar sus datos con seguridad y
          transparencia. Nuestros principios son:</span></p>
      <ul>
        <li><span><strong>Legalidad</strong>: Solo recopilaremos sus Datos personales para
            fines específicos, explícitos y legítimos.</span></li>
        <li><span><strong>Minimización de datos</strong>: Limitamos la recogida de datos de
            carácter personal a lo que es estrictamente relevante y necesario para los fines para los que se han
            recopilado.</span></li>
        <li><span><strong>Limitación de la Finalidad</strong>: Solo recogeremos sus datos
            personales para los fines declarados y solo según sus deseos.</span></li>
        <li><span><strong>Precisión</strong>: Mantendremos sus datos personales exactos y
            actualizados.</span></li>
        <li><span><strong>Seguridad de los Datos</strong>: Aplicamos las medidas técnicas y
            organizativas adecuadas y proporcionales a los riesgos para garantizar que sus datos no sufran daños, tales
            como divulgación o acceso no autorizado, la destrucción accidental o ilícita o su pérdida accidental o
            alteración y cualquier otra forma de tratamiento ilícito.</span></li>
        <li><span><strong>Acceso y Rectificación</strong>: Disponemos de medios para que
            acceda o rectifique sus datos cuando lo considere oportuno.</span></li>
        <li><span><strong>Conservación</strong>: Conservamos sus datos personales de manera
            legal y apropiada y solo mientras es necesario para los fines para los que se han recopilado.</span></li>
        <li><span><strong>Las transferencias internacionales</strong>: cuando se dé el caso
            de que sus datos vayan a ser transferidos fuera de la UE/EEE se protegerán adecuadamente.</span></li>
        <li><span><strong>Terceros</strong>: El acceso y transferencia de datos personales
            a terceros se llevan a cabo de acuerdo con las leyes y reglamentos aplicables y con las garantías
            contractuales adecuadas.</span></li>
        <li><span><strong>Marketing Directo y cookies</strong>: Cumplimos con la
            legislación aplicable en materia de publicidad y cookies.</span></li>
      </ul>
      <p><span><strong>4. RECOGIDA Y TRATAMIENTO DE SUS DATOS
            PERSONALES</strong></span><br><span>Las tipos de datos que se pueden solicitar
          y tratar son:</span></p>
      <ul>
        <li><span>Datos de carácter identificativo.</span></li>
      </ul>
      <p><span>También recogemos de forma automática datos
          sobre su visita a nuestro sitio web&nbsp; según se describe en la política de cookies.</span></p>
      <p><span>Siempre que solicitemos sus Datos personales,
          le informaremos con claridad de qué datos personales recogemos y con qué fin. En general, recogemos y tratamos
          sus datos personales con el propósito de:</span></p>
      <ul>
        <li><span>Proporcionar información, servicios, productos, información relevante y
            novedades en el sector.</span></li>
        <li><span>Envío de comunicaciones.</span></li>
      </ul>
      <p><span><strong>5. LEGITIMIDAD</strong></span></p>
      <p><span>De acuerdo con la normativa de protección de
          datos aplicable, sus datos personales podrán tratarse siempre que:</span></p>
      <ul>
        <li><span>Nos ha dado su consentimiento a los efectos del tratamiento. Por supuesto
            podrá retirar su consentimiento en cualquier momento.</span></li>
        <li><span>Por requerimiento legal.</span></li>
        <li><span>Por exisitr un interés legítimo que no se vea menoscabado por sus
            derechos de privacidad, como por ejemplo el envío de información comercial bien por suscripción a nuestra
            newsletter o por su condición de cliente.</span></li>
        <li><span>Por se necesaria para la prestación de alguno de nuestros servicios
            mediante relación contractual entre usted y nosotros.</span></li>
      </ul>
      <p><span><strong>6. COMUNICACIÓN DE DATOS
            PERSONALES</strong></span></p>
      <p><span>Los datos pueden ser comunicados a empresas
          relacionadas con&nbsp;<strong>TU EMPRESA, S.L.</strong>&nbsp;para la prestación de los diversos servicios en
          calidad de Encargados del Tratamiento. La empresa no realizará ninguna cesión, salvo por obligación
          legal.</span></p>
      <p><span><strong>7. SUS DERECHOS</strong></span></p>
      <p><span>En relación con la recogida y tratamiento de
          sus datos personales, puede ponerse en contacto con nosotros en cualquier momento para:</span></p>
      <ul>
        <li><span>Acceder a sus datos personales y a cualquier otra información indicada en
            el Artículo 15.1 del RGPD.</span></li>
        <li><span>Rectificar sus datos personales que sean inexactos o estén incompletos de
            acuerdo con el Artículo 16 del RGPD.</span></li>
        <li><span>Suprimir sus datos personales de acuerdo con el Artículo 17 del
            RGPD.</span></li>
        <li><span>Limitar el tratamiento de sus datos personales de acuerdo con el Artículo
            18 del RGPD.</span></li>
        <li><span>Solicitar la portabilidad de sus datos de acuerdo con el Artículo 20
            del&nbsp;<a class="rank-math-link" href="https://presencialismo.com/" target="_blank" rel="noopener"><span
                class="has-inline-color has-black-color">RGPD</span></a>.</span></li>
        <li><span>Oponerse al tratamiento de sus datos personales de acuerdo con el
            artículo 21 del RGPD.</span></li>
      </ul>
      <p><span>Si ha otorgado su consentimiento para alguna
          finalidad concreta, tiene derecho a retirar el consentimiento otorgado en cualquier momento, sin que ello
          afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada&nbsp;<a
            class="rank-math-link" href="https://presencialismo.com/" target="_blank" rel="noopener"><span
              class="has-inline-color has-black-color">rrhh</span></a>.</span></p>
      <p><span>Puede ejercer estos derechos enviando
          comunicación, motivada y acreditada, a info.trainingzone.es</span></p>
      <p><span>También tiene derecho a presentar una
          reclamación ante la Autoridad de control competente (<a class="rank-math-link" href="https://aepd.es/"
            target="_blank" rel="noopener">www.aepd.es</a>) si&nbsp;considera que el tratamiento no se ajusta a la
          normativa vigente.</span></p>
      <p><span><strong>8. INFORMACIÓN
            LEGAL</strong></span><br><span>Los requisitos de esta Política complementan, y
          no reemplazan, cualquier otro requisito existente bajo la ley de protección de datos aplicable, que será la
          que prevalezca en cualquier caso.</span></p>
      <p><span>Esta Política está sujeta a revisiones
          periódicas y la empresa puede modificarla en cualquier momento. Cuando esto ocurra, le avisaremos de cualquier
          cambio y le pediremos que vuelva a leer la versión más reciente de nuestra Política y que confirme su
          aceptación.</span></p>
    </div>

    <!-- Vazquez container -->

  </div>
</section>