<!-- First -->
<section id="first">
  <app-container>
    <div class="title-wrapper">
      <h1>Planes.</h1>
      <span
        >Encuentra los mejores planes de entrenamiento <br />y nutrición en
        Zaragoza</span
      >
    </div>
  
    <div class="bottom-actions">
      <button>Elige tu plan</button>
      <span>&#64;trainingzone.es</span>
    </div>
  </app-container>

</section>

<!-- Second -->
<section id="second">
  <app-container>
    <h1>
      Naciste para moverte,<br />muévete para<br />
      ser más.
    </h1>
    <span>&#64;trainingzone.es</span>
  </app-container>
  
</section>

<!-- Third -->
<section id="third">
  <app-container>
    <div class="title-wrapper">
      <h1>
          Nuestros<br />planes.
      </h1>
      <span
        >Nasciste para moverte,<br> muevete para ser más.</span
      >
    </div>
  
    <div class="plan">
      <h2>Centro training.</h2>
      <span><strong>Entrena con nuestros profesionales</strong> en<br>
        nuestro centro de entrenamiento personal<br>
        <strong>de forma individual.</strong></span>
  
  
        <button>Entrneamiento personal</button>
        <button>Grupos reducidos</button>
        <button>Running</button>
    </div>
  
    <div class="plan">
      <h2>Online.</h2>
      <span>Entrena cuándo tú quieras,<strong>hazlo desde casa,<br>
        en el parque o en tu gimnasio habitual.</strong></span>
  
  
        <button>Entrenamiento online</button>
        <button>Nutrición online</button>
        <button>Pack completo
          <span>entrenamiento + nutrición</span>
        </button>
    </div>
  </app-container>
 
</section>
