<div class="contact-form">
    <h1>Llamanos aquí</h1>

    <form>
        <span>¿Tienes alguna duda?</span>

        <input formControlName="name" placeholder="Nombre">

        <input formControlName="email" placeholder="E-mail">

        <input formControlName="phone" placeholder="Teléfono">

        <textarea formControlName="message" placeholder="Tu consulta" rows="20"></textarea>

        <button>Enviar</button>
    </form>

    <div class="contact-info">
        <span class="address">Calle <strong>Balbino Orensanz 41, Zaragoza</strong></span>
        <span class="phone">Tlf <strong>625 40 22 95</strong></span>
        <br>
        <span class="profile">info&#64;trainingzone.es</span>
    </div>
</div>