:host {
    width: 100%;
}

.contact-form {
/*     padding: 40px 40px 60px; */
    border: 1px solid #1d1d1c;

    h1 {
        background: #ffef3e;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        display: flex;
        align-items: center;
        padding: 12px 27px 12px 12px;
        width: fit-content;
        position: relative;

        &::after {
            content: "";
            width: 32px;
            height: 32px;
            position: absolute;
            border: 1px solid #fff;
            right: -17px;
            background-color: #ffef3e;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: stretch;

        >span {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 1.5rem;
        }

        >input,
        textarea {
            border: none;
            box-shadow: 0px 0px 0px 2px #1d1d1c;
            padding: 8px 12px;
            font-size: 18px;
            line-height: 18px;
            outline: none;
            transition: 200ms all ease-in-out;

            &:focus-within {
                box-shadow: 0px 0px 0px 2px #000000;
            }

            &::placeholder {
                font-size: 18px;
                line-height: 18px;
                text-transform: uppercase;
                opacity: 1;
                color: #000;
            }
        }

        >button {
            width: fit-content;
            align-self: center;
        }
    }

    .contact-info {
        display: flex;
        flex-direction: column;
    }
}