<div class="contact-form grid grid-cols-1 gap-4 lg:grid-cols-2 lg:grid-rows-[auto,auto] p-[20px] lg:p-[40px]">
    <h1 class="lg:col-span-2 lg:row-span-1">Llamanos aquí<fa-icon [icon]="faPhone"></fa-icon></h1>

    <form class="lg:col-span-1 lg:row-span-1">
        <span>¿Tienes alguna duda?</span>

        <input formControlName="name" placeholder="Nombre">

        <input formControlName="email" placeholder="E-mail">

        <input formControlName="phone" placeholder="Teléfono">

        <textarea formControlName="message" placeholder="Tu consulta" rows="20"></textarea>

        <button>Enviar</button>
    </form>

    <div class="contact-info lg:col-span-1 lg:row-span-1 lg:px-[80px]">
        <span class="address">Calle <strong>Balbino Orensanz 41, Zaragoza</strong></span>
        <span class="phone">Tlf <strong>625 40 22 95</strong></span>
        <br>
        <span class="profile">info&#64;trainingzone.es</span>
    </div>
</div>