section {

    &#first {
        gap: 170px;
        color: #000;
        background-color: #fff03e;
        background-image: url(/assets/img/1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .address {
            display: flex;
            flex-direction: column;
            gap: 4px;

            >* {
                font-size: 15px;
                line-height: 15px;
                letter-spacing: -0.04rem;
            }

        }

        .description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 36px;
            line-height: 36px;
            gap: 40px;
            text-transform: uppercase;

            >span {
                font-size: 32px;

                >span {
                    font-size: 36px;
                }
            }

        }

        span.profile {
            font-size: 13px;
        }

        button {
            border-radius: 0;
            border: 3px solid #000;
            padding: 14px 45px;
            font-size: 18px;
            line-height: 16px;
            text-transform: uppercase;
            background: transparent;
            transition: 325ms all ease-in-out;
            cursor: pointer;

            &:hover {
                background: #000;
                color: #fff03e;
            }
        }
    }

    &#second {
        background-color: #1d1d1c;


        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 500px;
            grid-template-rows: 0.9fr 1.5fr 0.6fr;
            grid-auto-flow: row;
            grid-template-areas:
                "first first second"
                "first first third"
                "bottom bottom bottom";
            color: #ffffff;


            &+.grid {
                border-top: 2px solid #fff;
                padding-top: 4rem;
            }

            ul {
                padding-inline-start: 20px;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 12px;

                >li {
                    font-size: 14px;
                    line-height: 17px;
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    &::before {
                        content: "â—";
                        font-size: 1.1em;
                        position: absolute;
                        left: -20px;
                        top: -1px;
                    }

                    >span {
                        font-size: 11px;
                        opacity: 0.5;
                        ;
                    }
                }
            }
        }

        .first {
            grid-area: first;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 32px;
            padding-right: 10rem;

            >.title {
                border: 2px solid #fff;
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                gap: 4px;

                >h1 {
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 30px;
                }

                >.description {
                    opacity: 0.6;
                    font-style: italic;
                    line-height: 1rem;
                    font-weight: 400;
                    font-size: 12px;
                }
            }

            >ul {
                gap: 15px;

                >li {
                    font-size: 17px;
                    line-height: 19px;
                    text-transform: uppercase;
                }
            }

            >img {
                object-fit: cover;
                width: 500px;
                height: 235px;
            }


        }

        .second {
            grid-area: second;
            position: relative;
            padding: 0px 35px 60px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 2px;
                top: 0;
                bottom: 0;
                height: 100%;
                background: #fff;
            }

            >h2 {
                margin: 0;
                text-transform: uppercase;
                color: #1d1d1c;
                background: #fff;
                font-size: 18px;
                font-weight: 600;
                padding: 0px 10px;
                letter-spacing: -0.04rem;
            }


        }

        .third {
            grid-area: third;
            position: relative;
            padding: 25px 35px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 2px;
                top: 0;
                bottom: 0;
                height: 100%;
                background: #fff;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                height: 2px;
                width: 90%;
                top: 0;
                right: 0;
                background: #fff;
            }

            >h2 {
                margin: 0;
                text-transform: uppercase;
                color: #1d1d1c;
                background: #fff;
                font-size: 18px;
                font-weight: 600;
                padding: 0px 10px;
                letter-spacing: -0.04rem;
            }


        }

        .bottom {
            grid-area: bottom;
            margin-top: 2.5rem;


        }




    }

    &#third {
        background-color: #fff;
        min-height: 5rem;
    }

    &#fourth {
        background-color: #fff;
    }
}