@import "tailwindcss";

* {
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

.bold {
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0;

}

section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 35px 0;
}

button {
    cursor: pointer;
    background: #ffef3e;
    color: #1d1d1c;
    text-transform: uppercase;
    width: 100%;
    font-size: 21px;
    font-weight: 900;
    padding: 8px;
    border: 0;
    outline: 0;
    min-width: 150px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* MatSidenav */

mat-sidenav-content {
    overflow: auto;
    display: block;
}

.mat-drawer.mat-sidenav {
    background-color: #1d1d1c;
    border-radius: 0;

    .mdc-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px;

        >a {
            color: #fff;
        }
    }

}

/* Tables */
table {
    thead>tr.mat-mdc-header-row {
        height: 30px;
        background: #111213;
        color: white;
        border-radius: 10px 10px 0 0;

        >th:first-child {
            border-radius: 6px 0 0;
        }

        >th:last-child {
            border-radius: 0 6px 0 0;
        }

        > th:not(:first-child) {
            text-align: center;
        }
    }

    .mat-mdc-row .mat-mdc-cell {
        padding: 6px;
        border: none;

        &:not(:first-child) {
            text-align: center;
        }
    }
}


/* Input */
.mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.mat-mdc-form-field-infix {
    width: 100% !important;
}

.mdc-line-ripple {
    display: none;
}